Опыт работы фронтенд разработчиком от 6 лет. Опыт работы с React от 3х лет. Знание принципов SOLID, опыт построения...
Высшее профессиональное образование по специальности. Желательно знание программ: 1С 8.3 (если нет, то обучим), Excel, Word на уровне...
Нужен проактивный ведущий разработчик, с хорошим знанием математики, с верой/любовью в AI и МL. Это скорее экстраверт, с высоким...
Коммуникабельность. Образование желательно оконченное. Опыт работы не обязательно  ОБУЧИМ САМИ.
Опыт в тестировании от 3 лет. Знание общих принципов, понимание целей и задач тестирования и его места в разработке ПО. 
Адекватное и лояльное руководство, с которым тебе точно будет легко взаимодействовать.
у тебя есть понимание и навыки продаж.  опыт работы от 1 года.  ты активный человек, который горит желанием развиваться. 
Понимание usability и умение обосновывать свои решения.  Отличное знание основных графических программ Adobe Photoshop, Adobe Illustrator, CorelDRAW, SketchUp, Adobe After...
Sound technical understanding of AI including machine/deep learning, computer vision, and natural language processing. Ability to form a vision...
Sound technical understanding of AI including machine/deep learning, computer vision, and natural language processing. Ability to form a vision...
В нашей команде мы хотели бы видеть активного специалиста с отличными навыками продаж, умеющего работать с большим объемом информации и...
В нашей команде мы хотели бы видеть активного специалиста с отличными навыками продаж, умеющего работать с большим объемом информации и...
Fluency in written and spoken English (business communication with native speakers). Understanding of relevant industries. Expertise in industrial AI. 
Опыт работы в ИТсфере на должности аналитика, project manager или product manager (от 3 лет) в реализации проектов по...
Образование в области поиска/разведки/разработки месторождений УВ. Опыт продаж программного обеспечения в В2Bсекторе. Опыт ведения переговоров...
Completed University degree in mathematics, economics or finance. Experience in finance with big 4 management consulting, startup, investment or...
Практический опыт создания моделей машинного обучения в областях рекомендательных моделей/семантического анализа/анализа пользовательского поведения.  Уверенный SQL для самостоятельного доступа...
Опыт работы в роли менеджера контроля качества в КЦ, супервайзера КЦ, тренера в КЦ, телесейла. Владение метриками и процессами в...
Свободное владение графическим пакетом Adobe (Ps,Ai,Id). Навыки работы в Figma, Битрикс 24. Четкое понимание правил композиции. 
Университет искусственного интеллекта  лучшее AI образование в РФ. Сменить профессию. Создать AI проект.  опыт работы в маркетинге от 3 лет.  
