Required: Strong Python knowledge. Knowledge of Python features and the Python ecosystem (modules, IDEs, shell & bash). Experience setting up a...
Отлично знаешь Python 3 и имеешь опыт промышленной разработки на Python от трех лет. Имеешь опыт многопоточного и асинхронного программирования. 
От 2х лет опыта коммерческой разработки на python.  Понимание работы службы контроллера домена, AD.  Понимание работы системы администрирования пользователей...
Умение писать аккуратный и читаемый программный код. Чтение чужого кода. Отличные знания Python 3, MySQL (как преимущество  знание MSSQL). 
Высшее или средне – специальное педагогическое образования (можно студентов последних курсов обучения). Опыт работы с детьми. Умение грамотно донести материал до...
Уверенное знание Python3: SQLAlchemy, pymysql, json, (io)pika. Опыт работы с ОС семейства Linux, умение запустить свой код. 
У тебя имеется опыт программирования на С. У тебя имеется опыт программирования на Python. У тебя имеется опыт работы с...
Опыт коммерческой разработки на Django Framework. Знание и умение использовать: итераторы, генераторы, потоки. Владение базовыми знаниями параллелизма, многопоточностью, неблокирующими вызовами. 
Опыт коммерческой разработки на Django Framework. Знание и умение использовать: итераторы, генераторы, потоки. Владение базовыми знаниями параллелизма, многопоточностью, неблокирующими вызовами. 
Умение писать асинхронный код. Умение работы с PostgreSQL из Python. Умение работы с RabbitMQ из Python (желательно).
R (data.table, glm) – опыт не обязателен, общее знакомство и желание работать с R. Английский язык intermediate (общаемся с заказчиком).
Уверенное владение Python. Уверенный уровень владения bash / Linux / Git. Опыт работы с базами данных (SQL, MongoDB, ClickHouse), API, Docker, Elasticsearch. 
Знание языков Python, С/С. Наличие опыта в разработке асинхронных систем и/или в разработке высоконагруженных систем с высокой надежностью. 
Уверенное знание языка и библиотек Python. Знание фреймворка Flask/Pyramid/Tornado/Django. Базовые знания HTML, CSS, JavaScript – для верстки страниц. 
Опыт разработки приложений на базе С# под .NET Core от 3 лет. Опыт работы с Python 3 (numpy, pandas, sklearn...
Техническое образование. Опыт коммерческой разработки от года. Отличное знание Python, его экосистемы. Навыки администрирования Linux (достаточно начального уровня). 
Уверенное знание python django, работа с gitlab, jira, postgresql. Понимание REST, websocket, паттернов проектирования, чтение стандартных схем и диаграмм (например...
Уверенное владение Python, включая системное программирование (socket, os, sys и пр.). Навыки системного администрирования Linux и не бояться собрать ядро...
Уверенные знания языка программирования Python. Владение многопоточным multiprocessing и асинхронными подходами asyncio, aiohttp, concurrent.futures. Опыт применения Mongo, docker, nginx, Redis...
Технический английский. Желательно:
